<header>
  <nav class="navbar">
    <div class="logo">
      <a href="/"><img src="\images\Logo Centro Deportivo.png" alt="" /></a>
    </div>

    <div class="burgerMenu">
      <i class="fa-solid fa-bars"></i>
    </div>

    <div class="menu">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/#actividades">Planes</a></li>
        <% if (personaLogueada) { %>
        <li>
          <a href="/profile">
            <i class="fa-solid fa-right-to-bracket"></i> Perfil</a
          >
        </li>
        <%if(personaLogueada==undefined || personaLogueada.nombre !="admin" ){
        %>
        <div></div>
        <%}else if (personaLogueada.nombre="admin" ) { %>
        <li>
          <a href="/producto/crear"> Crear</a>
        </li>
        <li>
          <a href="/producto/recuperar"> Recuperar</a>
        </li>

        <% } %> <% }else{ %>
        <li>
          <a href="/register"
            ><i class="fa-solid fa-id-card"></i> Registrarme</a
          >
        </li>
        <li>
          <a href="/login">
            <i class="fa-solid fa-right-to-bracket"></i> Login</a
          >
        </li>
        <% } %>

        <li>
          <a href="/producto/carrito"
            ><i class="fa-solid fa-cart-shopping"></i> Carrito</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
