<%- include('../partials/head') %>

<body class="body">
  <%- include('../partials/navbar') %>

  <h1>Editar Actividad</h1>
  <main class="mainCreateEdit">
    <div class="divCreateEdit">
      <form class="formCreateEdit" action="">
        <p>Completar los campos a modificar:</p>
        <div class="flex">
          <div class="inputForm ancho">
            <label for="name">Nombre de la Actividad: </label
            ><span class="asterisco">*</span>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Nombre de Actividad"
            />
          </div>

          <div class="inputForm ancho">
            <label for="image">Imágen: </label><span class="asterisco">*</span>
            <input type="file" id="image" name="image" />
          </div>
        </div>

        <div class="flex">
          <div class="inputForm ancho">
            <label for="price">Precio: </label><span class="asterisco">*</span>
            <input
              type="text"
              name="price"
              id="price"
              placeholder="Precio Producto"
            />
          </div>

          <div class="inputForm ancho">
            <label for="category">Categoria: </label
            ><span class="asterisco">*</span>
            <select name="category" id="category" class="selectRegister">
              <option selected disabled>Elige una opción</option>
              <option value="aerobico">Aeróbico</option>
              <option value="fuerza">Fuerza</option>
              <option value="relax">Relax</option>
              <option value="recuperacion">Recuperación</option>
            </select>
          </div>
        </div>

        <div class="flex">
          <div class="inputForm ancho">
            <label for="morningShift">Horario Mañana: </label
            ><span class="asterisco">*</span>
            <select
              name="morningShift"
              id="morningShift"
              class="selectRegister"
            >
              <option selected disabled>Elige una opción</option>
              <option value="8-9">de 08:00Hs a 09:00Hs</option>
              <option value="9-10">de 09:00Hs a 10:00Hs</option>
              <option value="10-11">de 10:00Hs a 11:00Hs</option>
              <option value="11-12">de 11:00Hs a 12:00Hs</option>
              <option value="8-12">de 08:00Hs a 12:00Hs</option>
              <option value="sinTurno">Sin turnos por la mañanana</option>
            </select>
          </div>

          <div class="inputForm ancho">
            <label for="afternoonShift">Horario Tarde: </label
            ><span class="asterisco">*</span>
            <select
              name="afternoonShift"
              id="afternoonShift"
              class="selectRegister"
            >
              <option selected disabled>Elige una opción</option>
              <option value="14-15">de 14:00Hs a 15:00Hs</option>
              <option value="15-16">de 15:00Hs a 16:00Hs</option>
              <option value="16-17">de 16:00Hs a 17:00Hs</option>
              <option value="17-18">de 17:00Hs a 18:00Hs</option>
              <option value="14-18">de 14:00Hs a 18:00Hs</option>
              <option value="sinTurno">Sin turnos por la tarde</option>
            </select>
          </div>

          <div class="inputForm ancho">
            <label for="nightShift">Horario Noche: </label
            ><span class="asterisco">*</span>
            <select name="nightShift" id="nightShift" class="selectRegister">
              <option selected disabled>Elige una opción</option>
              <option value="18-19">de 18:00Hs a 19:00Hs</option>
              <option value="19-20">de 19:00Hs a 20:00Hs</option>
              <option value="20-21">de 20:00Hs a 21:00Hs</option>
              <option value="21-22">de 21:00Hs a 22:00Hs</option>
              <option value="sinTurno">Sin turnos por la noche</option>
            </select>
          </div>
        </div>

        <div class="inputForm">
          <label for="description">Descripción: </label
          ><span class="asterisco">*</span>
          <textarea
            type="text"
            name="description"
            id="description"
            placeholder="Descripción Actividad"
          ></textarea>
        </div>

        <div class="divBoton">
          <button class="btn" type="submit">
            <i class="fas fa-check"></i> Crear
          </button>
        </div>
      </form>
    </div>
  </main>

  <%- include('../partials/footer') %>
