<%- include('../partials/head') %> 

<body class="body">

  <%- include('../partials/navbar') %> 

    <main>
      <h1 class="cartTitle">Tus productos</h1>
        <div class="cartTableContainer">
          
            <table class="cartTable desktopCart">

              <thead class="cartTableHeader">
                <th class="deleteBtnTableHeader"></th>
                <th class="imgTableHeader"></th>
                <th>Producto</th>
                <th>Cantidad</td>
                <th>Precio</th>
              </thead>
              
              <tbody class="cartTableBody">
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                  <td class="cartElement"><img src="/images/products/crossfit.png" alt=""></td>
                  <td class="cartElement">Yoga</td>
                  <td class="cartElement itemsCount">
                    <div class="agregarDetail">
                      <div class="numeroDetail">
                          <p>1</p>
                      </div>
                      <div class="masMenosDetail">
                          <button><i class="fa-solid fa-arrow-up"></i></button>
                          <button><i class="fa-solid fa-arrow-down-long"></i></button>
                      </div>
                    </div>
                  </td>
                  <td class="cartElement">$5000</td>
                </tr>
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                  <td class="cartElement"><img src="/images/products/crossfit.png" alt=""></td>
                  <td class="cartElement">Yoga</td>
                  <td class="cartElement itemsCount">
                    <div class="agregarDetail">
                      <div class="numeroDetail">
                          <p>1</p>
                      </div>
                      <div class="masMenosDetail">
                          <button><i class="fa-solid fa-arrow-up"></i></button>
                          <button><i class="fa-solid fa-arrow-down-long"></i></button>
                      </div>
                    </div>
                  </td>
                  <td class="cartElement">$5000</td>
                </tr>
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                  <td class="cartElement"><img src="/images/products/crossfit.png" alt=""></td>
                  <td class="cartElement">Yoga</td>
                  <td class="cartElement itemsCount">
                    <div class="agregarDetail">
                      <div class="numeroDetail">
                          <p>1</p>
                      </div>
                      <div class="masMenosDetail">
                          <button><i class="fa-solid fa-arrow-up"></i></button>
                          <button><i class="fa-solid fa-arrow-down-long"></i></button>
                      </div>
                    </div>
                  </td>
                  <td class="cartElement">$5000</td>
                </tr>
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                  <td class="cartElement"><img src="/images/products/crossfit.png" alt=""></td>
                  <td class="cartElement">Yoga</td>
                  <td class="cartElement itemsCount">
                    <div class="agregarDetail">
                      <div class="numeroDetail">
                          <p>1</p>
                      </div>
                      <div class="masMenosDetail">
                          <button><i class="fa-solid fa-arrow-up"></i></button>
                          <button><i class="fa-solid fa-arrow-down-long"></i></button>
                      </div>
                    </div>
                  </td>
                  <td class="cartElement">$5000</td>
                </tr>

                <tr>
                  <td> </td>
                  <td class="cartElement totalTitle">Total</td>
                  <td> </td>
                  <td> </td>
                  <td class="cartElement totalPrice">$25000</td>
                </tr>

                <tr>
                  <td> </td>
                  <td></td>
                  <td> </td>
                  <td> </td>
                  <td class="cartElement totalPrice"><button class="finishButton">Terminar compra</button></td>
                </tr>
                
               
              </tbody>

            </table>

            <table class="cartTable mobileCart">
              <tbody>
                <div>
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                </tr>
                <tr>
                  <td class="cartElement"><img src="/images/crossfit.png" alt=""></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="cartElement mobileCartTitle">Producto</td>
                  <td class="cartElement">Yoga</td>
                </tr>
                <tr>
                  <td class="cartElement mobileCartTitle">Cantidad</td>
                  <td class="cartElement">
                   <input type="number" class="itemCountMobile">
                  </td>
                </tr>
                <tr>
                  <td class="cartElement mobileCartTitle">Precio</td>
                  <td class="cartElement">5000</td>
                </tr>
              </div>
                <div>
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                </tr>
                <tr>
                  <td class="cartElement"><img src="/images/crossfit.png" alt=""></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="cartElement mobileCartTitle">Producto</td>
                  <td class="cartElement">Yoga</td>
                </tr>
                <tr>
                  <td class="cartElement mobileCartTitle">Cantidad</td>
                  <td class="cartElement">
                   <input type="number" class="itemCountMobile">
                  </td>
                </tr>
                <tr>
                  <td class="cartElement mobileCartTitle">Precio</td>
                  <td class="cartElement">5000</td>
                </tr>
              </div>
                
              </tbody>
              <tr >
                <td colspan="2" class="finishButtonRow "><button class="finishButton">Terminar compra</button></td>
              </tr>
            </table>

        </div>

    </main>

    <%- include('../partials/footer') %>