* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff7e9;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
  padding: 20px;
}


/*****************************************************************************************************/
/********************************************** NAVBAR ***********************************************/
/*****************************************************************************************************/


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  background-color: rgba(0, 0, 0, 0.507);
}

.logo img {
  width: 80px;
  height: 80px;
  margin: 0 5px;
}

.menu {
  display: none;
}

.burgerMenu {
  display: block;
  background-color: #fadba5;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.burgerMenu:hover {
  background-color: #fa8a01;
}

.burgerMenu:hover i {
  color: white;
}

.burgerMenu i {
  font-size: 25px;
}

.menu li i {
  color: #fadba5;
  transition: all 0.5s ease;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
  padding: 8px 5px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.menu ul li:hover {
  box-shadow: inset 14em 0 0 0 #fadba5;
  transition: 0.7s;
}

.menu ul li:hover i {
  color: black;
}

.menu ul li a {
  position: relative;
  text-decoration: none;
  color: #ff8c00;
  padding: 0 10px;
  font-weight: bold;
}


/*****************************************************************************************************/
/********************************************** HOME ***********************************************/
/*****************************************************************************************************/


.bannerHome {
  position: relative;
  height: 60vh;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.contenedorBanner {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  background-color: rgba(255, 209, 129, 0.664);
  padding: 20px;
  border-radius: 20px;
}

.fraseBannerNegrita {
  font-weight: 900;
  margin-top: 20px;
  color: white;
}

.iconoBanner {
  color: white;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.iconoBanner i {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffa841;
}

.seccionInfo {
  background-color: #fadba5;
  padding: 30px 10px;
}

.divInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.info {
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.iconoInfo {
  font-size: 50px;
  margin-bottom: 10px;
  color: #ffa841;
  padding: 10px;
}

.tituloInfo {
  margin-bottom: 10px;
  font-weight: 700;
}

.divPlanes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20px;
  align-items: center;
}

.plan {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 25px 30px;
  overflow: hidden;
}

.detallePlan {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  left: 0;
  padding: 10px 8px;
  background-color: #ffaa4152;
  width: 100%;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
}

.plan img {
  position: relative;
  width: 430px;
  height: 240px;
  transition: all 0.5s ease-in-out;
  object-fit: cover;
}

.plan i {
  color: #fa8a01;
  padding-right: 3px;
}

.plan img:hover {
  filter: grayscale(1);
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 10px 10px 10px rgb(170, 170, 170);
}

.btnPlan {
  padding: 8px 15px;
  background-color: #ffaa4152;
  border: 2px solid #ffa841;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
}

.btnPlan:hover {
  border-color: #fa8a01;
  box-shadow: inset 12em 0 0 0 #fa8a01;
  transition: 0.7s;
}

.btnPlan i {
  color: #fa8a01;
  transition: 0.7s;
}

.btnPlan:hover i {
  color: black;
}

.seccionMapa {
  padding: 20px 0;
}

iframe {
  width: 100%;
}


/*****************************************************************************************************/
/*********************************************PRODUCT DETAIL******************************************/
/*****************************************************************************************************/


.h1Detail {
  font-size: 30px;
  padding: 20px 20px 0 20px;
}

.mainDetail {
  width: 80%;
  margin: auto;
  padding: 25px 0;
}

.divMainDetail {
  width: 100%;
}

.tituloDetailTabletDesktop {
  display: none;
}

.tituloDetail {
  position: absolute;
  top: -47px;
  padding: 10px 5px;
  background-color: #ffaa419c;
  width: 100%;
  color: white;
}

.imgDivDetail img {
  height: 50vh;
  width: 100%;
}

.detalleDetail {
  background-color: #fadba581;
  position: relative;
}

.detalleEntrenamiento {
  padding: 20px;
}

.detalleEntrenamiento i {
  color: #ff8c00;
  font-size: 20px;
}

.precioDetail {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 30px;
  color: #ff8c00;
}

.descripcionDetail {
  font-size: 15px;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 30px;
}

.horariosDetail p {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
}

.horariosDetail li {
  list-style: none;
  padding: 5px;
}

.horariosDetail li span,
.descripcionDetail span {
  text-decoration: underline;
}

.agregarBoton {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.recoverBoton {
  margin-top: 30px;
  text-align: center;
}

.divBtnProductos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.divBtnProductos div {
  padding: 0 10px;
  margin-top: 15px;
}

.agregarDetail {
  display: flex;
  align-items: center;
  border: 2px solid #ff8c00;
  background-color: #ffaa4152;
}

.numeroDetail {
  border-right: 2px solid #ff8c00;
  padding: 4px 15px;
  width: 8vw
}

.numeroDetail input {

  font-size: 25px;
  width: 5vw;
  background-color: #ffaa4100;
  border: none;
  text-align: center;
}

.masMenosDetail {
  display: flex;
  flex-direction: column;
}

.masMenosDetail button {
  padding: 10px 20px;
  border: none;
  background-color: #ffaa4100;
  font-size: 15px;
  transition: all 0.5s ease-in-out;
}

.masMenosDetail button:hover {
  color: #ff8c00;
  cursor: pointer;
}

.agregarACarrito {
  padding: 15px;
  background-color: #ffaa4152;
  border: 2px solid #ffa841;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
}


.agregarACarrito:hover {
  border-color: #fa8a01;
  box-shadow: inset 14em 0 0 0 #fa8a01;
  transition: 0.7s;
  border: 2px solid white;
}

.agregarACarrito i {
  color: #fa8a01;
  transition: 0.7s;
  padding-right: 5px;
}

.agregarACarrito:hover i {
  color: black;
  animation: rotarCesto 1s infinite;
}

@keyframes rotarCesto {
  0% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(15deg);
  }
}


/*****************************************************************************************************/
/************************************************ LOGIN *********************************************/
/*****************************************************************************************************/


.bodyLogin {
  font-family: "Roboto", sans-serif;
  background-color: #fadba5;
}

.mainLogin {
  background-color: #fadba5;
}

.tituloLogin {
  font-size: 30px;
  padding: 20px;
}

.loginBox {
  width: 80%;
  margin: 0 auto 30px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #ffaa41b6;
  border-radius: 10px;
}

.imagenLogin img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.formLogin {
  width: 100%;
}

.inputForm {
  margin-top: 10px;
  font-weight: 700;
}

.inputForm img {
  padding-left: 5px;
}

.asterisco {
  color: red;
  font-weight: 700;
  font-size: small;
}

.errorInput {
  color: red;
}

.inputForm input,
textarea,
.selectRegister {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  background-color: #fadba5;
  border: none;
  border-radius: 5px;
}

.divBoton {
  display: flex;
  justify-content: center;
}

.divBoton button {
  margin-left: 10px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px 17px;
  background-color: #fadba5;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.btn:hover {
  border-color: white;
  box-shadow: inset 10em 0 0 0 #fa8a01;
  transition: 0.7s;
}

.btn i {
  color: #fa8a01;
}

.btn:hover i {
  color: #fadba5;
  transition: 0.7s;
}

.recuerdameRecupero {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.recuperar a {
  text-decoration: underline;
  transition: all 0.5s ease;
}

.recuperar a:hover {
  color: white;
  font-weight: bold;
}


/*****************************************************************************************************/
/******************************************** REGISTER ***********************************************/
/*****************************************************************************************************/


.body {
  background-color: #fadba5;
}

.body h1 {
  padding: 20px;
}

.divImagen {
  background-image: url(../images/registrarse.png);
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
}

.mainRegister {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.divRegistro {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.divRegistro form {
  background-color: #ffaa41b6;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  margin: -180px auto 0 auto;
}

form p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  font-style: italic;
  color: white;
}

.terminos {
  margin: 15px 0;
  font-size: 15px;
}


/*****************************************************************************************************/
/********************************************* CREATE/EDIT ******************************************/
/*****************************************************************************************************/


.mainCreateEdit {
  justify-content: center;
  padding: 20px 0;
}

.divCreateEdit {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.formCreateEdit {
  background-color: #ffaa41b6;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  margin: 0;
}

textarea {
  height: 15vh;
}


/*****************************************************************************************************/
/********************************************* CARRITO ***********************************************/
/*****************************************************************************************************/


.cartTitle {
  margin: 5vh 0 -5vh 2vw;
  color: black;
}

.cartTableContainer {
  width: 90vw;
  margin: 10vh auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
}

.cartTable {
  width: 100%;
  padding: 3%;
}

.cartElement {
  text-align: center;
  padding: 0.5%;
}

.cartElement img {
  width: 90px;
  height: 90px;
}

.deleteBtnCart button {
  width: 20px;
  height: 20px;
  border: 2px solid #fa8a01;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.01);
  text-align: center;
  color: #fa8a01;
  font-weight: 600;
  transition: 0.5s;
}

.deleteBtnCart button:hover {
  border: 2px solid #fadba5;
  background-color: #fa8a01;
  color: #fadba5;
}

.totalTitle,
.totalPrice,
.mobileCartTitle {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 3%;
}

.totalPriceMob{
  font-weight: 600;
}

.finishButtonRow {
  text-align: center;
  border-top: 1px solid #fadba5;
}

.finishButton {
  width: 60%;
  padding: 15px;
  border: 2px solid #fa8a01;
  border-radius: 10px;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  color: #fa8a01;
  margin-top: 3%;
  transition: 0.5s;
  cursor: pointer;
}

.finishButton:hover {
  border-color: #fa8a01;
  box-shadow: inset 20em 0 0 0 #fa8a01;
  transition: 0.7s;
  color: white;
}

.itemCountMobile {
  width: 10%;
  border-radius: 5px;
  padding: 0.3rem;
}

.desktopCart {
  display: none;
}

.itemsCount {
  display: flex;
  justify-content: center;
  margin: 15% auto;
}

/*****************************************************************************************************/
/********************************************* PROFILE**** ******************************************/
/*****************************************************************************************************/


.divProfile {
  text-align: center;
}

.imgPerfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
}

.datosProfile {
  margin-top: 20px;
  background-color: #ffaa41b6;
  border-radius: 10px;
  padding: 20px;
  text-align: start;
}

.datosProfile p {
  padding: 15px;
}

.datosProfile p i {
  color: #fa8a01;
  font-size: 15px;
}

.datosProfile p span {
  font-weight: 700;
  font-style: italic;
}


/*****************************************************************************************************/
/************************************************ FOOTER ********************************************/
/*****************************************************************************************************/


.footer {
  align-items: flex-end;
  background-color: #ffaa41b6;
  padding: 20px 0;
  box-shadow: 0 0 15px #fa8a01;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 50px;
}

.rowFoot {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.columnaFoot {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.columnaFoot h4 {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.columnaFoot ul li a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.columnaFoot ul li {
  margin: 4px;
}

.columnaFoot ul li a:hover {
  color: #fc910fb6;
}

.columnaFoot .link-redes i {
  display: inline-block;
  font-size: 25px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  transition: all 0.2s ease;
}

.columnaFoot .link-redes i:hover {
  color: #fc910fb6;
}

.copyright {
  color: #666666a9;
  font-size: 0.7rem;
}

@media (min-width: 481px) {
  .burgerMenu {
    display: none;
  }

  .menu {
    display: block;
  }

  .plan img {
    width: 480px;
    height: 260px;
  }

  /* LOGIN */

  .mainLogin {
    width: 70%;
    margin: auto;
  }

  /* PRODUCT DETAIL*/

  .imgDivDetail img {
    height: 60vh;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .bannerHome {
    height: 90vh;
  }

  .burgerMenu {
    display: none;
  }

  .menu {
    display: block;
  }

  .navbar {
    padding: 5px 20px;
  }

  .contenedorBanner {
    top: 50%;
  }

  .plan i {
    padding: 0 5px;
  }

  .plan img {
    width: 577px;
    height: 300px;
  }

  .rowFoot {
    flex-direction: row;
    justify-content: space-between;
  }

  /* REGISTER */

  .divImagen {
    height: 400px;
  }

  .userForms {
    margin: -120px auto 0 auto;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .flex .inputForm {
    margin: 0 4px;
  }

  .ancho {
    width: 45%;
  }

  .espacio {
    margin-top: 8px;
  }

  /* PRODUCT DETAIL */

  .mainDetail {
    width: 98%;
  }

  .imgDivDetail {
    width: 50%;
  }

  .tituloDetail {
    display: none;
  }

  .tituloDetailTabletDesktop {
    display: block;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px 5px;
    background-color: #ffaa419c;
    width: 100%;
    color: white;
    border-radius: 10px;
  }

  .imgDivDetail img {
    height: 60vh;
  }

  .detalleDivDetail {
    width: 60%;
  }

  .divMainDetail {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .divBtnProductos {
    margin-top: 50px;
  }

  /* PRODUCTOS ELIMINADOS */

  .recoverBoton {
    margin-top: 150px;
  }

  /* LOGIN */

  .imagenLogin img {
    margin-bottom: 120px;
  }

  /* PROFILE */

  .imgPerfil img {
    width: 350px;
    height: 350px;
  }

  .tituloProfile {
    font-size: 20px;
  }

  .datosProfile {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
  }

  .datosProfile p {
    font-size: 20px;
  }

  /* CARRITO */

  .desktopCart {
    display: table;
  }

  .mobileCart {
    display: none;
  }

  .finishButton {
    position: static;
    width: 40%;
  }

  .finishButtonRow {
    position: static;
    padding-bottom: 0;
  }

  .finishButton:hover {
    border-color: #fa8a01;
    box-shadow: inset 15em 0 0 0 #fa8a01;
    transition: 0.7s;
    color: white;
  }

  .deleteBtnCart {
    text-align: center;
  }
}

@media (min-width: 1279px) {
  .divInfo {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 350px;
    align-items: center;
  }
}