<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Centro Deportivo</title>
</head>
<body>
    
    <div class="bannerHome">

        <div class="contenedorBanner">
            <div>
                <span class="fraseBanner"><b>TU</b> salud es <b>TU</b> bienestar y nosotros</span>
            </div>
            <div class="fraseBannerNegrita">
                <span>QUEREMOS VERTE BIEN.</span>
            </div>
        </div>

        <div class="iconoBanner">
            <i class="fa fa-toggle-on"></i>
            <p>¡A EJERCITARNOS!</p>
        </div>

    </div>

    
    <section class="seccionInfo">

        <div class="divInfo">

            <div class="info">
                <div class="iconoInfo">
                    <i class="fas fa-dumbbell"></i>
                </div>
                <div class="tituloInfo">
                    <p>Totalmente Equipado</p>
                </div>
                <span><i>Contamos con uno de los más completos gimnasios para que nada te falte.</i></span>
            </div>
    
            <div class="info">
                <div class="iconoInfo">
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
                <div class="tituloInfo">
                    <p>Profesores Especializados</p>
                </div>
                <span><i>Nuestro staff de profesores y entrenadores están en permanente actualización.</i></span>
            </div>
    
            <div class="info">
                <div class="iconoInfo">
                    <i class="fa fa-person-running"></i>
                </div>
                <div class="tituloInfo">
                    <p>Entrenamiento personalizado</p>
                </div>
                <span><i>Brindamos el plan que mejor se ajuste a tus necesidades y objetivos personales.</i></span>
            </div>
            
        </div>


    </section>


    <section class="seccionPlanes">

        <h2>Tenemos un Plan para Vos</h2>

        <div class="divPlanes">

            <div class="plan">
                <img src="" alt="">
                <p>FUNCIONAL - PASE LIBRE</p>
                <P>$2.000,00</P>
            </div>

            <div class="plan">
                <img src="" alt="">
                <p>CROSSFIT - PASE LIBRE</p>
                <P>$3.000,00</P>
            </div>

            <div class="plan">
                <img src="" alt="">
                <p>APARATOS Y PESAS - PASE LIBRE</p>
                <P>$2.500,00</P>
            </div>

            <div class="plan">
                <img src="" alt="">
                <p>PILETA + PILATES - 2 DÍAS</p>
                <P>$4.000,00</P>
            </div>

            <div class="plan">
                <img src="" alt="">
                <p>ZUMBA - PASE LIBRE</p>
                <P>$4.000,00</P>
            </div>

            <div class="plan">
                <img src="" alt="">
                <p>STRONG BY ZUMBA - PASE LIBRE</p>
                <P>$5.000,00</P>
            </div>

            <div class="plan">
                <img src="" alt="">
                <p>REHABILITACIÓN - 3 DÍAS</p>
                <P>$2.000,00</P>
            </div>

            <div class="plan">
                <img src="" alt="">
                <p>ADULTO MAYOR - 3 DÍAS</p>
                <P>$2.500,00</P>
            </div>
            
            <div class="plan">
                <img src="" alt="">
                <p>SPINNING - 3 DÍAS</p>
                <P>$3.500,00</P>
            </div>

            <div class="plan">
                <img src="" alt="">
                <p>CORE TRAINNING - 3 DÍAS</p>
                <P>$3.500,00</P>
            </div>

            <div class="plan">
                <img src="" alt="">
                <p>STEP- PASE LIBRE</p>
                <P>$2.500,00</P>
            </div>

            <div class="plan">
                <img src="" alt="">
                <p>YOGA - 3 DÍAS</p>
                <P>$4.500,00</P>
            </div>

        </div>

    </section>



    <div class="seccionMapa">

        <div class="divMapa">

            <div class="imagenMapa">
                <img src="" alt="">
            </div>

            <div class="mapa">
                
            </div>

        </div>

    </div>




</body>
</html>