<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
        integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <title>Login</title>
</head>

<body>

    <header>

        <div class="navbar">
            <div class="logo">
                <img src="\images\Logo Centro Deportivo.png" alt="">
            </div>

            <div class="burgerMenu">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="menu">
                <ul>
                    <li> <a href="/">INICIO</a></li>
                    <li> <a href="#">SERVICIOS</a></li>
                    <li> <a href="/register">REGISTRARSE</a></li>
                    <li> <a href="/login"> <i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                    <li> <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
                </ul>
            </div>
    </header>
            <main>
            

            <div class="loginBox">
            <div class="imagenLogin"><img class="imagenlogo" src="/images/Logo Centro Deportivo Blanco.png" width="100" height="100" alt="logo para login"></div>
            <div class="titulo"><h1>Login</h1></div>
            <div class="formLogin">
            <form>
                <!-- USUARIO -->
                <label for="usuario" class="formInput">Usuario</label>
                <input type="text" placeholder="Ingresar Username" id="completarlogin" >

                <!-- PASSWORD -->
                <label for="contraseña" class="formInput">Contraseña</label>
                <input type="contraseña" placeholder="Ingresar Contraseña" id="completarlogin">

                <div class="formInput">
                    <label for="contraseña">Contraseña:</label>
                    <input type="password" placeholder="Ingresar Contraseña" id="contraseña" name="contraseña">
                </div>

                <div class="divBoton">
                    <button class="btnIngresar" type="submit"><i class="fas fa-right-to-bracket"></i> Ingresar</button>
                </div>

                <div class="recuerdameRecupero">
                    <div class="recuerdame">
                        <input type="checkbox" name="recuerdame" id="recuerdame">
                        <label for="recuerdame">Recuérdame</label>
                    </div>
    
                    <div class="recuperar">
                        <a href="#">Recuperar Contraseña</a>
                    </div>
                </div>

            </form>
        </div>
        <br>
        <br>
        <br>
        
        </main>
        <footer class="footer">
        
            <div class="rowFoot">
                              
                <div class="columnaFoot">
                    <h4>Contactanos</h4>
                    <ul>
                        <li> <a href="muucs@gmail.com">centro-deportivo@gmail.com</a></li>
                        <li> <a href="+543415683519">+54 3562670039</a></li>
                        <li> <a href="https://goo.gl/maps/SnAAU7cTwvi8vd5D6">Morteros Cordoba</a></li>
                    </ul>
                </div>

                <div class="columnaFoot">
                    <h4>Redes sociales</h4>
                    <div class="link-redes">

                        <a href="#"><iF class="fab fa-twitter"></i></a>
                        <a href="#"><iF class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <p class="copyright">Copyright © 2018-2022 Centro Deportivo</p>
        
    </footer>






</body>


</html>