<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>

<body class="bodyLogin">

    <header>

        <div class="navbar">
            <div class="logo">
                <img src="\images\Logo Centro Deportivo.png" alt="">
            </div>

            <div class="burgerMenu">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="menu">
                <ul>
                    <li> <a href="/">Inicio</a></li>
                    <li> <a href="#">Servicios</a></li>
                    <li> <a href="/register"><i class="fa-solid fa-id-card"></i> Registrarme</a></li>
                    <li> <a href="/login"> <i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                    <li> <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
                </ul>
            </div>
    </header>

    <main class="mainLogin">
        <h1 class="tituloLogin">Ingresá a tu cuenta</h1>
        <div class="loginBox">
            <div class="imagenLogin">
                <img src="/images/Logo Centro Deportivo Blanco.png" alt="Logo Centro Deportivo">
            </div>

            <form class="formLogin">
                <div class="inputForm">
                    <label for="usuario">Usuario:</label>
                    <input type="text" placeholder="Ingresar Usuario" id="usuario" name="usuario">
                </div>

                <div class="inputForm">
                    <label for="contraseña">Contraseña:</label>
                    <input type="password" placeholder="Ingresar Contraseña" id="contraseña" name="contraseña">
                </div>

                <div class="divBoton">
                    <button class="btn" type="submit"><i class="fas fa-right-to-bracket"></i> Ingresar</button>
                </div>

                <div class="recuerdameRecupero">
                    <div class="recuerdame">
                        <input type="checkbox" name="recuerdame" id="recuerdame">
                        <label for="recuerdame">Recuérdame</label>
                    </div>
    
                    <div class="recuperar">
                        <a href="#">Recuperar Contraseña</a>
                    </div>
                </div>

            </form>
    </main>

        <footer class="footer">
        
            <div class="rowFoot">
                              
                <div class="columnaFoot">
                    <h4>Contactanos</h4>
                    <ul>
                        <li> <a href="muucs@gmail.com"><i class="fa-solid fa-envelope-open-text"></i> centro-deportivo@gmail.com</a></li>
                        <li> <a href="+543415683519"><i class="fa-solid fa-phone"></i> +54 3562670039</a></li>
                        <li> <a href="https://goo.gl/maps/SnAAU7cTwvi8vd5D6"><i class="fa-solid fa-map-location-dot"></i> Morteros, Córdoba</a></li>
                    </ul>
                </div>

                <div class="columnaFoot">
                    <h4>Redes sociales</h4>
                    <div class="link-redes">

                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <p class="copyright">Copyright © 2018-2022 Centro Deportivo</p>
        
    </footer>






</body>


</html>