<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header></header>

    <main>
        <div class="cartTableContainer">
          
            <table class="cartTable">

              <thead class="cartTableHeader">
                <th class="deleteBtnTableHeader"></th>
                <th class="imgTableHeader"></th>
                <th>Producto</th>
                <th>Cantidad</td>
                <th>Precio</th>
              </thead>
              
              <tbody class="cartTableBody">
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                  <td class="cartElement"><img src="/images/crossfit.png" alt=""></td>
                  <td class="cartElement">Yoga</td>
                  <td class="cartElement">5 clases</td>
                  <td class="cartElement">$5000</td>
                </tr>
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                  <td class="cartElement"><img src="/images/crossfit.png" alt=""></td>
                  <td class="cartElement">Yoga</td>
                  <td class="cartElement">5 clases</td>
                  <td class="cartElement">$5000</td>
                </tr>
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                  <td class="cartElement"><img src="/images/crossfit.png" alt=""></td>
                  <td class="cartElement">Yoga</td>
                  <td class="cartElement">5 clases</td>
                  <td class="cartElement">$5000</td>
                </tr>
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                  <td class="cartElement"><img src="/images/crossfit.png" alt=""></td>
                  <td class="cartElement">Yoga</td>
                  <td class="cartElement">5 clases</td>
                  <td class="cartElement">$5000</td>
                </tr>
                
               
              </tbody>

            </table>

            <div class="totalPriceCart"></div>

        </div>

    </main>

    <footer></footer>
</body>
</html>