<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styleRegisterCreateEdit.css">
    <title>Crear Actividad</title>
</head>
    
<body>
    <header>
        
        <div class="navbar">
            <div class="logo">
                <img src="\images\Logo Centro Deportivo.png" alt="">
            </div>
    
            <div class="burgerMenu">
                <i class="fa-solid fa-bars"></i>
            </div>
            
            <div class="menu">
                <ul>
                    <li> <a href="/">Inicio</a></li>
                    <li> <a href="#">Servicios</a></li>
                    <li> <a href="/register"><i class="fa-solid fa-id-card"></i> Registrarme</a></li>
                    <li> <a href="/login"> <i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                    <li> <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
                </ul>
            </div>
    </header>

    <h1>Crear Actividad</h1>
    <main class="mainCreateEdit">
        <div class="divCreateEdit">
            <form class="formCreateEdit" action="">
                <p>Completar los campos de la Actividad:</p>
                <div class="flex">
                    <div class="inputForm ancho">
                        <label for="nombreActividad">Nombre de la Actividad: </label><span class="asterisco">*</span>
                        <input type="text" name="nombreActividad" id="nombreActividad" placeholder="Nombre de Actividad">
                    </div>
                    <div class="inputForm ancho">
                        <label for="imagen">Imágen: </label><span class="asterisco">*</span>
                        <input type="file" id="imagen" name="imagen" >
                    </div>
                </div>

                <div class="flex">
                    <div class="inputForm ancho">
                        <label for="actividad">Categoria: </label><span class="asterisco">*</span>
                        <select name="actividad" id="actividad" class="selectRegister">
                            <option selected disabled>Elige una opción</option>
                            <option value="aerobico">Aeróbico</option>
                            <option value="fuerza">Fuerza</option>
                            <option value="relax">Relax</option>
                            <option value="combinado">Combinado</option>
                        </select>
                    </div>
                    <div class="inputForm ancho">
                        <label for="actividad">Rango Edad: </label><span class="asterisco">*</span>
                        <select name="actividad" id="actividad" class="selectRegister">
                            <option selected disabled>Elige una opción</option>
                            <option value="niñez">Niños (15-18 años)</option>
                            <option value="adolescente">Adolescente (18-25 años)</option>
                            <option value="adulto">Adultos (25-60 años)</option>
                            <option value="adulto mayor">Adultos Mayores (Más de 60 años)</option>
                        </select>
                    </div>
                    <div class="inputForm ancho">
                        <label for="precio">Precio: </label><span class="asterisco">*</span>
                        <input type="text" name="precio" id="precio" placeholder="Precio Producto" >
                    </div>
                </div>

                <div class="inputForm">
                    <label for="descripcion">Descripción: </label><span class="asterisco">*</span>
                    <textarea type="text" name="descripcion" id="descripcion" placeholder="Descripción Actividad"></textarea>
                </div>

                <div class="botonRegister">
                    <button class="btnRegistro" type="submit"><i class="fas fa-check"></i> Crear</button>
                </div>
            </form>
        </div>

    </main>

    <footer class="footer">
        
            <div class="rowFoot">
                              
                <div class="columnaFoot">
                    <h4>Contactanos</h4>
                    <ul>
                        <li> <a href="muucs@gmail.com"><i class="fa-solid fa-envelope-open-text"></i> centro-deportivo@gmail.com</a></li>
                        <li> <a href="+543415683519"><i class="fa-solid fa-phone"></i> +54 3562670039</a></li>
                        <li> <a href="https://goo.gl/maps/SnAAU7cTwvi8vd5D6"><i class="fa-solid fa-map-location-dot"></i> Morteros, Córdoba</a></li>
                    </ul>
                </div>

                <div class="columnaFoot">
                    <h4>Redes sociales</h4>
                    <div class="link-redes">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <p class="copyright">Copyright © 2018-2022 Centro Deportivo</p>
        
    </footer>
    

</body>
</html>