<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
</head>
<body>
  <header>
        
    <div class="navbar">
        <div class="logo">
            <img src="\images\Logo Centro Deportivo.png" alt="">
        </div>

        <div class="burgerMenu">
            <i class="fa-solid fa-bars"></i>
        </div>
        
        <div class="menu">
            <ul>
                <li> <a href="/">INICIO</a></li>
                <li> <a href="#">SERVICIOS</a></li>
                <li> <a href="/register">REGISTRARSE</a></li>
                <li> <a href="/login"> <i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                <li> <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
            </ul>
        </div>
</header>

    <main>
      <h1 class="cartTitle">Tu carrito</h1>
        <div class="cartTableContainer">
          
            <table class="cartTable desktopCart">

              <thead class="cartTableHeader">
                <th class="deleteBtnTableHeader"></th>
                <th class="imgTableHeader"></th>
                <th>Producto</th>
                <th>Cantidad</td>
                <th>Precio</th>
              </thead>
              
              <tbody class="cartTableBody">
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                  <td class="cartElement"><img src="/images/crossfit.png" alt=""></td>
                  <td class="cartElement">Yoga</td>
                  <td class="cartElement itemsCount">
                    <div class="agregarDetail">
                      <div class="numeroDetail">
                          <p>1</p>
                      </div>
                      <div class="masMenosDetail">
                          <button><i class="fa-solid fa-arrow-up"></i></button>
                          <button><i class="fa-solid fa-arrow-down-long"></i></button>
                      </div>
                    </div>
                  </td>
                  <td class="cartElement">$5000</td>
                </tr>
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                  <td class="cartElement"><img src="/images/crossfit.png" alt=""></td>
                  <td class="cartElement">Yoga</td>
                  <td class="cartElement itemsCount">
                    <div class="agregarDetail">
                      <div class="numeroDetail">
                          <p>1</p>
                      </div>
                      <div class="masMenosDetail">
                          <button><i class="fa-solid fa-arrow-up"></i></button>
                          <button><i class="fa-solid fa-arrow-down-long"></i></button>
                      </div>
                    </div>
                  </td>
                  <td class="cartElement">$5000</td>
                </tr>
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                  <td class="cartElement"><img src="/images/crossfit.png" alt=""></td>
                  <td class="cartElement">Yoga</td>
                  <td class="cartElement itemsCount">
                    <div class="agregarDetail">
                      <div class="numeroDetail">
                          <p>1</p>
                      </div>
                      <div class="masMenosDetail">
                          <button><i class="fa-solid fa-arrow-up"></i></button>
                          <button><i class="fa-solid fa-arrow-down-long"></i></button>
                      </div>
                    </div>
                  </td>
                  <td class="cartElement">$5000</td>
                </tr>
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                  <td class="cartElement"><img src="/images/crossfit.png" alt=""></td>
                  <td class="cartElement">Yoga</td>
                  <td class="cartElement itemsCount">
                    <div class="agregarDetail">
                      <div class="numeroDetail">
                          <p>1</p>
                      </div>
                      <div class="masMenosDetail">
                          <button><i class="fa-solid fa-arrow-up"></i></button>
                          <button><i class="fa-solid fa-arrow-down-long"></i></button>
                      </div>
                    </div>
                  </td>
                  <td class="cartElement">$5000</td>
                </tr>

                <tr>
                  <td> </td>
                  <td class="cartElement totalTitle">Total</td>
                  <td> </td>
                  <td> </td>
                  <td class="cartElement totalPrice">$25000</td>
                </tr>

                <tr>
                  <td> </td>
                  <td></td>
                  <td> </td>
                  <td> </td>
                  <td class="cartElement totalPrice"><button class="finishButton">Terminar compra</button></td>
                </tr>
                
               
              </tbody>

            </table>

            <table class="cartTable mobileCart">
              <tbody>
                <div>
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                </tr>
                <tr>
                  <td class="cartElement"><img src="/images/crossfit.png" alt=""></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="cartElement mobileCartTitle">Producto</td>
                  <td class="cartElement">Yoga</td>
                </tr>
                <tr>
                  <td class="cartElement mobileCartTitle">Cantidad</td>
                  <td class="cartElement">
                   <input type="number" class="itemCountMobile">
                  </td>
                </tr>
                <tr>
                  <td class="cartElement mobileCartTitle">Precio</td>
                  <td class="cartElement">5000</td>
                </tr>
              </div>
                <div>
                <tr>
                  <td class="deleteBtnCart"><button>x</button></td>
                </tr>
                <tr>
                  <td class="cartElement"><img src="/images/crossfit.png" alt=""></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="cartElement mobileCartTitle">Producto</td>
                  <td class="cartElement">Yoga</td>
                </tr>
                <tr>
                  <td class="cartElement mobileCartTitle">Cantidad</td>
                  <td class="cartElement">
                   <input type="number" class="itemCountMobile">
                  </td>
                </tr>
                <tr>
                  <td class="cartElement mobileCartTitle">Precio</td>
                  <td class="cartElement">5000</td>
                </tr>
              </div>
                
              </tbody>
              <tr >
                <td colspan="2" class="finishButtonRow "><button class="finishButton">Terminar compra</button></td>
              </tr>
            </table>

        </div>

    </main>

    <footer class="footer">
        
      <div class="rowFoot">
                        
          <div class="columnaFoot">
              <h4>Contactanos</h4>
              <ul>
                  <li> <a href="muucs@gmail.com">centro-deportivo@gmail.com</a></li>
                  <li> <a href="+543415683519">+54 3562670039</a></li>
                  <li> <a href="https://goo.gl/maps/SnAAU7cTwvi8vd5D6">Morteros Cordoba</a></li>
              </ul>
          </div>

          <div class="columnaFoot">
              <h4>Redes sociales</h4>
              <div class="link-redes">

                  <a href="#"><iF class="fab fa-twitter"></i></a>
                  <a href="#"><iF class="fab fa-instagram"></i></a>
              </div>
          </div>
      </div>

      <p class="copyright">Copyright © 2018-2022 Centro Deportivo</p>
  
</footer>
</body>
</html>