* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #fadba5;
}

h1{
    text-align: center;
    padding: 20px;
}

.mainRegister{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.divRegistro{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.divImagen{
    background-image: url(../images/registrarse.png);
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
}

form{
    background-color: #ffaa41b6;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    margin: -180px auto 0 auto;
}

form p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    color: white;
}

.inputForm{
    margin-top: 10px;
    font-weight: 700;
}

.asterisco{
    color: red;
    font-weight: 700;
}

.inputForm input, .selectRegister{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    background-color: #fadba5;
    border: none;
    border-radius: 5px;
}

.terminos{
    margin: 15px 0;
    font-size: 15px;
}

.botonRegister{
    display: flex;
    justify-content: center;
}

.btnRegistro{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 17px;
    background-color: #fadba5;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.btnRegistro:hover{
    border-color: white;
    box-shadow: inset 10em 0 0 0 #fa8a01;
    transition: 0.7s;

}

.btnRegistro i{
    color: #fa8a01;   
}

.btnRegistro:hover i{
    color: #fadba5;
    transition: 0.7s;
}

@media(min-width:769px){
    .divImagen{
        height: 400px;
    } 
    
    form{
        margin: -120px auto 0 auto;
    }

    .flex{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .flex .inputForm{
        margin: 0 4px;
    }

    .ancho{
        width: 45%;
    }

    .espacio{
        margin-top: 8px;
    }


}












