*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    background-color: rgba(0, 0, 0, 0.507);
}

.logo img{
    width: 80px;
    height: 80px;
    margin: 0 5px;
}

.menu{
    display: none;
}

.burgerMenu{
    display: block;
    background-color: #fadba5;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all .5s ease;
}

.burgerMenu:hover{
    background-color: #fa8a01;
}

.burgerMenu:hover i{
    color: white;
}

.burgerMenu i{
    font-size: 25px;
}

.menu li i{
    color:#fadba5;
    transition: all .5s ease;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    padding: 8px 5px;
    border-radius: 10px;
    transition: all .5s ease;
}

.menu ul li:hover{
    box-shadow: inset 14em 0 0 0 #fadba5;
    transition: 0.7s;

}

.menu ul li:hover i{
    color: black;

}

.menu ul li a{
    position: relative;
    text-decoration: none;
    color: #ff8c00;
    padding: 0 10px;
    font-weight: bold;
}

@media(min-width: 481px){

    .burgerMenu{
        display: none;
    }

    .menu{
        display: block;
    }

    .mainLogin{
        width: 70%;
        margin: auto;
    }

    .recuerdameRecupero{
        display: flex;
        justify-content: space-around;
    }

}

@media(min-width: 769px){

    .navbar{
        padding: 5px 20px;
    }

}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fadba5;
}

.mainLogin{
    background-color: #fadba5;
}

.tituloLogin{
    font-size: 30px;
    padding: 20px;
}

.loginBox {
    width: 80%;
    margin: 0 auto 30px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #ffaa41b6;
    border-radius: 10px;
}

.imagenLogin img{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

.formLogin{
    width: 100%;
}

.formInput{
    margin-top: 10px;
    font-weight: 700;
}

.formInput input{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    background-color: #fadba5;
    border: none;
    border-radius: 5px;
}

.divBoton{
    display: flex;
    justify-content: center;
}

.btnIngresar{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 17px;
    background-color: #fadba5;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.btnIngresar:hover{
    border-color: white;
    box-shadow: inset 10em 0 0 0 #fa8a01;
    transition: 0.7s;
}

.recuerdameRecupero{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.recuperar a{
    text-decoration: underline;
    transition: all .5s ease;
}

.recuperar a:hover{
    color: white;
    font-weight: bold;
}
