<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Centro Deportivo</title>
</head>
<body>
    <header>
        
        <nav class="navbar">
            <div class="logo">
                <img src="\images\Logo Centro Deportivo.png" alt="">
            </div>
    
            <div class="burgerMenu">
                <i class="fa-solid fa-bars"></i>
            </div>
            
            <div class="menu">
                <ul>
                    <li> <a href="/">Inicio</a></li>
                    <li> <a href="#">Servicios</a></li>
                    <li> <a href="/register"><i class="fa-solid fa-id-card"></i> Registrarme</a></li>
                    <li> <a href="/login"> <i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                    <li> <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
                </ul>
            </div>
            </nav>
    </header>
    
    <main>
    
    <div class="bannerHome">

        <div class="contenedorBanner">
            <div>
                <span class="fraseBanner"><b>TU</b> salud es <b>TU</b> bienestar y nosotros</span>
            </div>
            <div class="fraseBannerNegrita">
                <span>QUEREMOS VERTE BIEN.</span>
            </div>
        </div>

        <div class="iconoBanner">
            <i class="fa fa-toggle-on"></i>
            <p>¡A EJERCITARNOS!</p>
        </div>

    </div>

    
    <section class="seccionInfo">

        <div class="divInfo">

            <div class="info">
                <div class="iconoInfo">
                    <i class="fas fa-dumbbell"></i>
                </div>
                <div class="tituloInfo">
                    <p>Totalmente Equipado</p>
                </div>
                <span><i>Contamos con uno de los más completos gimnasios para que nada te falte.</i></span>
            </div>
    
            <div class="info">
                <div class="iconoInfo">
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
                <div class="tituloInfo">
                    <p>Profesores Especializados</p>
                </div>
                <span><i>Nuestro staff de profesores y entrenadores están en permanente actualización.</i></span>
            </div>
    
            <div class="info">
                <div class="iconoInfo">
                    <i class="fa fa-person-running"></i>
                </div>
                <div class="tituloInfo">
                    <p>Entrenamiento personalizado</p>
                </div>
                <span><i>Brindamos el plan que mejor se ajuste a tus necesidades y objetivos personales.</i></span>
            </div>
            
        </div>


    </section>


    <section class="seccionPlanes">

        <h2>Tenemos un Plan para Vos</h2>

        <div class="divPlanes">

            <div class="plan">
                <img class="imgPlan" src="/images/funcional.png" alt="Foto Funcional">
                <div class="detallePlan">
                    <p><i class="fa fa-check"></i> FUNCIONAL - LIBRE</p>
                    <p><i class="fa fa-money-bill-1-wave"></i> $2.000</p>
                    <button class="btnPlan"><i class="fa fa-plus"></i><a href="./productDetail"> Detalle</a></button>
                </div>
            </div>

            <div class="plan">
                <img src="/images/crossfit.png" alt="Foto CrossFit">
                <div class="detallePlan">
                    <p><i class="fa fa-check"></i> CROSSFIT - LIBRE</p>
                    <p><i class="fa fa-money-bill-1-wave"></i> $3.000</p>
                    <button class="btnPlan"><i class="fa fa-plus"></i><a href="./productDetail"> Detalle</a></button>
                </div>
            </div>

            <div class="plan">
                <img src="/images/pesas.png" alt="Foto Pesas">
                <div class="detallePlan">
                    <p><i class="fa fa-check"></i> PESAS - LIBRE</p>
                    <p><i class="fa fa-money-bill-1-wave"></i> $2.500</p>
                    <button class="btnPlan"><i class="fa fa-plus"></i><a href="./productDetail"> Detalle</a></button>
                </div>
            </div>

            <div class="plan">
                <img src="/images/pileta.png" alt="Foto Pileta">
                <div class="detallePlan">
                    <p><i class="fa fa-check"></i> PILETA - 3 DÍAS</p>
                    <p><i class="fa fa-money-bill-1-wave"></i> $4.000</p>
                    <button class="btnPlan"><i class="fa fa-plus"></i><a href="./productDetail"> Detalle</a></button>
                </div>
            </div>

            <div class="plan">
                <img src="/images/zumba.png" alt="Foto Zumba">
                <div class="detallePlan">
                    <p><i class="fa fa-check"></i> ZUMBA - LIBRE</p>
                    <p><i class="fa fa-money-bill-1-wave"></i> $4.000</p>
                    <button class="btnPlan"><i class="fa fa-plus"></i><a href="./productDetail"> Detalle</a></button>
                </div>
            </div>

            <div class="plan">
                <img src="/images/strong.png" alt="Foto Strong">
                <div class="detallePlan">
                    <p><i class="fa fa-check"></i> STRONG - LIBRE</p>
                    <p><i class="fa fa-money-bill-1-wave"></i> $5.000</p>
                    <button class="btnPlan"><i class="fa fa-plus"></i><a href="./productDetail"> Detalle</a></button>
                </div>
            </div>

            <div class="plan">
                <img src="/images/rehabilitacion.png" alt="Foto Rehabilitacion">
                <div class="detallePlan">
                    <p><i class="fa fa-check"></i> REHABILITACIÓN</p>
                    <p><i class="fa fa-money-bill-1-wave"></i> $2.000</p>
                    <button class="btnPlan"><i class="fa fa-plus"></i><a href="./productDetail"> Detalle</a></button>
                </div>
            </div>

            <div class="plan">
                <img src="/images/adultoMayor.png" alt="Foto Adulto Mayor">
                <div class="detallePlan">
                    <p><i class="fa fa-check"></i> ADULTOS - 3 DÍAS</p>
                    <p><i class="fa fa-money-bill-1-wave"></i> $2.500</p>
                    <button class="btnPlan"><i class="fa fa-plus"></i><a href="./productDetail"> Detalle</a></button>
                </div>
            </div>
            
            <div class="plan">
                <img src="/images/spinning.png" alt="Foto Spining">
                <div class="detallePlan">
                    <p><i class="fa fa-check"></i> SPINNING - 3 DÍAS</p>
                    <p><i class="fa fa-money-bill-1-wave"></i> $3.500</p>
                    <button class="btnPlan"><i class="fa fa-plus"></i><a href="./productDetail"> Detalle</a></button>
                </div>
            </div>

            <div class="plan">
                <img src="/images/coreTrainning.png" alt="Foto Coretrainning">
                <div class="detallePlan">
                    <p><i class="fa fa-check"></i> C.TRAINNING - LIBRE</p>
                    <p><i class="fa fa-money-bill-1-wave"></i> $3.500</p>
                    <button class="btnPlan"><i class="fa fa-plus"></i><a href="./productDetail"> Detalle</a></button>
                </div>
            </div>

            <div class="plan">
                <img src="/images/step.png" alt="Foto Step">
                <div class="detallePlan">
                    <p><i class="fa fa-check"></i> STEP - LIBRE</p>
                    <p><i class="fa fa-money-bill-1-wave"></i> $2.500</p>
                    <button class="btnPlan"><i class="fa fa-plus"></i><a href="./productDetail"> Detalle</a></button>
                </div>
            </div>

            <div class="plan">
                <img src="/images/yoga.png" alt="Foto Yoga">
                <div class="detallePlan">
                    <p><i class="fa fa-check"></i> YOGA - 3 DÍAS</p>
                    <p><i class="fa fa-money-bill-1-wave"></i> $4.500</p>
                    <button class="btnPlan"><i class="fa fa-plus"></i><a href="./productDetail"> Detalle</a></button>
                </div>
            </div>

        </div>

    </section>

    <div class="seccionMapa">
        <h2>Te Esperamos</h2>

        <div class="divMapa">

            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.163958651293!2d-62.00682778532962!3d-30.71379076969012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943503752a60b413%3A0xf1e60b8661b024f!2sSanCor%20Salud%20Morteros!5e0!3m2!1ses!2sar!4v1659133912104!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>

    </div>
</main>
<footer class="footer">
        
    <div class="rowFoot">
                      
        <div class="columnaFoot">
            <h4>Contactanos</h4>
            <ul>
                <li> <a href="muucs@gmail.com"><i class="fa-solid fa-envelope-open-text"></i> centro-deportivo@gmail.com</a></li>
                <li> <a href="+543415683519"><i class="fa-solid fa-phone"></i> +54 3562670039</a></li>
                <li> <a href="https://goo.gl/maps/SnAAU7cTwvi8vd5D6"><i class="fa-solid fa-map-location-dot"></i> Morteros, Córdoba</a></li>
            </ul>
        </div>

        <div class="columnaFoot">
            <h4>Redes sociales</h4>
            <div class="link-redes">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>

    <p class="copyright">Copyright © 2018-2022 Centro Deportivo</p>

</footer>

</body>
</html>